body {
    font-family: 'Roboto Slab', serif;
    height: 100%;
}

* {
    /*outline: 1px solid red;*/
    box-sizing: border-box;
}

img, object, embed, video {
    max-width: 100%;
}

.tap-element {
    min-width: 48px;
    min-height: 48px;
}

.container {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.col {
    flex-direction: column;
}

.center-h {
    justify-content: center;
}

.center-v {
    align-items: center;
}

.row[data-items="1"] > div {
    min-width: 98%;
    flex: 1;
    margin: 1%;
}
.row[data-items="2"] > div {
    min-width: 48.00%;
    margin: 1%;
}

.row[data-items="3"] > div {
    min-width: 30.00%;
}

.row[data-items="4"] > div {
    min-width: 22.50%;
    margin: 1%;
}

.row[data-items="5"] > div {
    min-width: 18%;
    flex: 5;
    margin: 1%;
}

.row[data-items="6"] > div {
    min-width: 14.66%;
    flex: 6;
    margin: 1%;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25.00%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75.00%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100.00%;
}

h1 {
    font-size: 2.8vw;
}

h2 {
    font-size: 2.2vw;
}

h3 {
    font-size: 1.6vw;
}

h4 {
    font-size: 1.2vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: 500;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-right {
    text-align: right;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-rounded {
    border-radius: 50%;
}

.padding-1 {
    padding: 1%;
}

.marginless {
    margin: 0;
}

.card {
    max-width: 33%;
    box-shadow: 0 0 5px 1px gainsboro;
    justify-content: space-between;
}

.jng-modal {
    transform: translateY(1000px);
}

.multiLineEllipsis {
    overflow: hidden;
    position: relative;
    line-height: 1.5em;
    max-height: 4.5em;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    width: 100%;
    display: block;
}
.multiLineEllipsis:before {
     content: '...';
     position: absolute;
     right: 0;
     bottom: 0;
}
.multiLineEllipsis:after {
     content: '';
     position: absolute;
     right: 0;
     width: 1em;
     height: 1em;
     margin-top: 0.2em;
     background: white;
}

.expanded {
    max-height: initial !important;
}

div.multiLineEllipsis > button {
    position: absolute;
    background-size: 100%;
    bottom: 0;
    width: 100%;
    left: 0;
    border: 0;
    font-weight: bold;
    font-size: 20px;
    filter: blur(px);
    display: flex;
    justify-content: center;
    z-index: 1;
    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)); */
    /* background-color: rgba(0, 0, 0, .1); */
    color: cornflowerblue;
    background-color: white;
    letter-spacing: 1px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0px 0px 10px 5px azure;
    outline: 0 !important;
}

div.expanded > button {
    color: red;
    width: 30%;
    right: 0;
    left: initial;
    /* bottom: -10px; */
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0;
    font-size: 10px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

body > aside > div > div > div.multiLineEllipsis > button:hover {
   cursor: pointer;
}

@media only screen and (max-width: 768px) {

    .row[data-items] > div {
        width: 100%;
        flex: auto;
        margin: 5px 0;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 12px;
    }

    .card {
        max-width: initial;
        border: 1px solid gainsboro;
        box-shadow: 0 0 5px 0 gainsboro;
    }

}